<!-- 评论 -->
<div id="post-comment" class="panel panel-default">
    <div class="panel-body">
        <!-- 多说评论框 start -->
        <div class="ds-thread" data-thread-key="{{ page.id }}" data-title="{{page.title}}" data-url="{{page.url | prepend: site.url}}"></div>
       
       <script src="http://cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='http://unpkg.com/valine/dist/Valine.min.js'></script>
        <div id="vcomments"></div>

        <script>
        
       

		new Valine({
    		el: '#vcomments',
  			appId: 'cIWXGkDNpupdc2BaK9UoOV0v-gzGzoHsz',
            appKey: 'Y9siicQpf4oTY0BjR2BQjC6t',
		    notify:false, 
		    verify:false, 
		    avatar:'mm', 
		    placeholder: 'comment' 
});
    </script>
    </div>
</div>
