<section class="section" id="personal_project">
    <h2 class="title-thin text-muted">个人作品</h2>
    <div class="pf-wrap">
        <div class="pf-grid">

        <div class="pf-grid-sizer"></div><!-- used for sizing -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/supplier.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>
                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">民生电商-供应商管理平台</h2>
                                <p>为适应新的电商发展方向，实现差异化运营，需要对民生电商供应商系统进行重构.</p>
                                <a href="#pf-popup-1" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="pf-popup-1" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url({{ '/styles/img/portfolio/supplier.jpg' | prepend: site.baseurl }}); background-repeat: no-repeat;background-size: cover;">
                        </div>
                    </div><!-- .pf-popup-col1 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h2 class="text-upper">民生电商-供应商管理平台</h2>
                            <p class="text-muted"><strong>时间：2017.07-2018.1</strong></p>
                            <p class="text-muted"><strong>职责：参与设计开发</strong></p>
                            <dl class="dl-horizontal">
                                <dt>展示地址:</dt>
                                <dd><a href="http://supplier.minshengec.com">Go</a></dd>
                            </dl>
                            <p>
                            项目技术：
                                项目采用前后端分离技术，前端使用AngrlarJs和BootStrap实现自适应布局。后端使用SpringCloud与Dubbo进行远程调用。
                            项目职责：
                                负责项目开发，对比新老系统，进行功能的整合与新增，实现供应商的商品录入，主商品分发，商品审核，库存维护，商品配送区域模板，商品运费模板维护，订单查询，商品发货，excel导入等等一系列的功能；负责项目上线后的系统维护； 
                            项目成果： 
                                通过新系统的成功上线，实现了供应商商品的差异化运营，节省了供应的时间成本和人力成本。
                                    
                            </p>
                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/saas.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">民生电商-Saas商城</h2>
                                <p>为适应新的电商发展方向，实现民生商城多渠道输出。</p>
                                <a href="#pf-popup-2" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pf-popup-2" class="pf-popup clearfix">
                        <div class="pf-popup-col1">
                            <div class="pf-popup-media" style="background-image: url({{ '/styles/img/portfolio/saas.jpg' | prepend: site.baseurl }}); background-repeat: no-repeat;background-size: cover;">
                            </div>
                        </div><!-- .pf-popup-col1 -->
    
                        <div class="pf-popup-col2">
                            <div class="pf-popup-info clear-mrg">
                                <h2 class="text-upper">民生电商-Saas商城</h2>
                                <p class="text-muted"><strong>时间：2018.03-至今</strong></p>
                                <p class="text-muted"><strong>职责：参与设计开发</strong></p>
                                <dl class="dl-horizontal">
                                    <dt>展示地址:</dt>
                                    <dd><a href="https://flower.minshengec.com">Go</a></dd>
                                </dl>
                                <p>
                                项目技术：
                                    项目采用前后端分离技术，前端使用VueJs。后端使用SpringMvc，Dubbo，Redis
                                项目职责：
                                负责项目开发，通过后台系统配置 ,对接银行App，使得商城能够适应不同的渠道功能，在银行App内能够使用银行的登录支付功能。实现商城的小程序版本；负责项目上线后的系统维护；                                
                                项目成果： 
                                    通过新系统的成功上线，使得原本不具备电商功能的银行可以开展电商业务。
                                </p>
                            </div><!-- .pf-popup-info -->
    
                        </div><!-- .pf-popup-col2 -->
                    </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->

            <!-- <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/ai.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">股票预测模型</h2>
                                <p>基于AI的股票预测模型</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>.pf-grid-item -->
        </div>
    </div>
</section><!-- .section -->