<section class="section brd-btm" id="profetional">
    <div class="row">
        <div class="clear-mrg">
            
            <h2 class="title-thin text-muted">职业技能</h2>

            <div class="col-sm-4 clear-mrg">

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">Java core,多线程,Java Web</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                    </span>
                </div>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">Spring,Spring Mvc,Spring Security,MyBatis</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                    </span>
                </div>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">分布式:Spring Boot,Spring Cloud,Dubbo,Zookeeper</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                    </span>
                </div>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">消息中间件:Kafka</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <!-- <span class="bullet"></span> -->
                    </span>
                </div>

            </div>
            
            <div class="col-sm-4 clear-mrg">

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">关系型数据库:MySQl,非关系型数据库:MangoDb,内存数据库:H2</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                    </span>
                </div>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">缓存:redis,ehcache</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                    </span>
                </div>

                <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                    <strong class="progress-title">Tomcat,Maven,Git</strong>
                    <span class="progress-bar">
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                        <span class="bullet fill"></span>
                    </span>
                </div>
            </div>

        </div><!-- .col-sm-6 -->
        <div class="col-sm-4 clear-mrg">

            <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                <strong class="progress-title">了解 elastic</strong>
                <span class="progress-bar">
                    <span class="bullet fill"></span>
                    <span class="bullet fill"></span>
                    <span class="bullet fill"></span>
                    <span class="bullet fill"></span>
                    <span class="bullet fill"></span>
                </span>
            </div>

            <div class="progress-bullets crt-animate" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="10">
                <strong class="progress-title">Vue-Js,AngrlarJs</strong>
                <span class="progress-bar">
                    <span class="bullet fill"></span>
                    <span class="bullet fill"></span>
                    <span class="bullet fill"></span>
                    <span class="bullet fill"></span>
                    <span class="bullet fill"></span>
                </span>
            </div>

        </div>

    </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->